.btn {
    background-color: #2C74B3 !important;
}

.btn.btn-primary {
    background-color: #2C74B3 !important;
    border: #2C74B3 !important;
}

.btn.btn-primary.orange {
    background-color: #FA4616 !important;
    border: #FA4616 !important;
}

.btn.btn-danger {
    background-color: #2C74B3 !important;
    border: #2C74B3 !important;
}

.btn.ripple {
    background-color: transparent !important;
}

.btn.btn-more {
    background-color: #43b754 !important;
    border: #020303 !important;
}